<div class="app-calendar">
    @if (loading) {
        <div class="dimer"></div>
    }
    <div class="header">
        <div class="gutter"></div>
        @for(day of days; track $index) {
            <div class="day-header">
                @if (day.isToday) {
                    <div class="day-number circle">{{ day.day }}</div>
                } 
                @else {
                    <div class="day-number">{{ day.day }}</div>
                }
                {{ day.label }}
            </div>
        }    
    </div>
    <div class="content">
        <div class="gutter">
            @for(label of labels; track $index) {
                <div class="label" [style]="{top: label.top+'px'}">
                    <small>{{ label.label }}</small>
                </div>
            }
        </div>
        @for(day of days; track $index) {
            <div class="day-column">
                @for(item of internalItems; track $index) {
                    @if (item.dayIndex == day.index) {
                        <div class="calendar-item" [style]="getItemStyle(item)" (click)="onClickItem(item)">
                            <div class="actions">
                                <app-button [round]="true" [secondary]="true" [flat]="true" icon="pi pi-times" tooltip="app.delete" (onClick)="onRemoveItem($event, item)"/>
                            </div>
                            @if (item.baseItem.loading) {
                                <div class="loading">
                                    <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem"></i>
                                </div>
                            }
                            <app-circle-label [icon]="item.baseItem.icon || ''" [color]="item.baseItem.color" />
                            @if (item.height > 50) {
                                <div class="line1">{{item.baseItem.line1}}</div>
                                <div class="line2">{{item.baseItem.line2}}</div>
                            }
                        </div>
                    }
                }
                @for(interval of intervals; track $index) {
                    <div 
                        [ngClass]="isSelected(day.index, interval.index) ? 'day-interval-selected' : 'day-interval'" 
                        [style]="getIntervalStyle()"
                        (mousedown)="onMouseDown(day.index, interval.index)"
                        (mouseenter)="onMouseEnter(day.index, interval.index)"
                        (mouseup)="onMouseUp(day.index, interval.index)"
                    ></div>
                }
            </div>
        }
    </div>
</div>