$border-color: var(--surface-border);


:host {
    height: 100%;
}

.dimer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #9b9b9b48;
    pointer-events: stroke;
    z-index: 10;
}

.app-calendar {
    position: relative;
    background-color: var(--surface-card);
    border: 1px solid $border-color;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;

    .header {
        display: flex;
        border-bottom: 1px solid $border-color;
    }

    .gutter {
        width: 60px;
        position: relative;

        .label {
            width: 100%;
            text-align: center;
            height: 20px;
            line-height: 20px;
            position: absolute;
        }
    }

    .content {
        display: flex;
        overflow: auto;
    }
}

.day-column {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.calendar-item {
    position: absolute;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    background-color: pink;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .actions {
        visibility: hidden;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .loading {
        background-color: #0000005e;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover .actions {
        visibility: visible;
    }

    .line1 {
        font-weight: bold;
        max-width: 100%;
        
        text-overflow: clip;
    }

    .line2 {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: small;
        padding: 10px;
        text-align: center;
    }
}


.day-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;

    .day-number {
        font-size: 20px;
        height: 32px;
        display: flex;
        align-items: center;
    }

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%; 
        color: white; 
        width: 32px;
        height: 32px;
        padding: 3px; 
        background-color: var(--primary-color);
    }
}



.day-gutter {
    border-right: 1px solid $border-color;
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
    font-size: 12px;
}


.day-interval {
    border-bottom: 1px dashed $border-color;
    border-right: 1px solid $border-color;
}


.day-interval-selected {
    background-color: var(--primary-color);
    border-bottom: 1px dashed $border-color;
    border-right: 1px solid $border-color;
}


.day-interval:hover {
    background-color: rgba(116, 116, 116, 0.197);
    cursor: pointer;
}

.item {
    position: absolute;
}