.container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.toolbar {
    background-color: #89aaf93b;
    height: 64px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 24px;
}

.head {
    display: flex; 
    align-items: center;
    gap: 10px;
}

.content {
    padding: 10px;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}