.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}

.app-header {
    height: 64px; 
    line-height: 64px; 
    font-size: 24px; 
    color: white; 
    padding-left: 10px; 
    background: var(--primary-color);
}

.menu {
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 250px;
}

.content {
    flex: 1;
    box-sizing: border-box;
    overflow: auto;
    background-color: #fafafa;
}