//@import "primeng/resources/themes/lara-light-blue/theme.css";
//@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    font-family: "Lato";
    --font-family: "Lato";
}

html, body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

body .p-datepicker table td > span { 
    width: auto;
    height: auto;
 }

 p-chart > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
 }