<form [formGroup]="formGroup" (ngSubmit)="submit()" [style]="getFormStyle()">
    <fieldset [disabled]="disabled">
        <div [style]="getFiltersStyle()">
            <ng-content></ng-content>
        </div>
        <div class="mt-4" [style]="getActionsStyle()">
            <div><ng-content select="[actionsLeft]"></ng-content></div>
            <div><ng-content select="[actions]"></ng-content></div>
            <div><ng-content select="[actionsRight]"></ng-content></div>
        </div>
    </fieldset>
</form>