<app-page [title]="page.name | translate" [actions]="page.actions">
    <p-card>
        <app-form [form]="form" [horizontal]="true"/>
    </p-card>
    <div class="mt-3">
        <app-list 
            [columns]="page.columns" 
            [items]="items" 
            [sortField]="sortField" 
            [sortOrder]="sortOrder" 
            [totalRows]="totalRows" 
            [offset]="offset" 
            [rows]="rows"
            [loading]="listLoading"
            (onLoad)="onChangeTable($event)"
        />
    </div>
</app-page>